body {
    margin: 0;
    font-size: 1rem
}

h1, h2, a, p, li, ol, ul {
    margin: unset;
}

h1 {
    font-family: "Anisette Std", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    margin: 1rem 0 1rem 0;
}

h2 {
    font-family: "Azo Sans", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2em;
}

a, p, ul, ol {
    font-family: "Azo Sans", Helvetica, sans-serif;
    margin: 1rem 0 1rem 0;
}

a {
    text-decoration: none;
    font-size: .8rem;
}

button {
    border: none;
    font-family: "Azo Sans", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    width: 200px;
    transition-duration: 0.2s;
    background-color: #272727;
    color: white;
    margin: 1rem 0 1rem 0;
}

button:hover {
    box-shadow: 7px 7px #EE3F23;
}

img {
    box-shadow: 15px 15px #272727;
}
