body {
    margin: 0;
    font-size: 1rem
}

h1, h2, a, p, li, ol, ul {
    margin: unset;
}

h1 {
    font-family: "Anisette Std", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    margin: 1rem 0 1rem 0;
}

h2 {
    font-family: "Azo Sans", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
}

a, p {
    font-family: "Azo Sans", Helvetica, sans-serif;
}

a {
    text-decoration: none;
    font-size: .8rem;
}